body {
    margin-top: 125px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.nav-link li {
    display: inline;
    padding: 0 10px;
    text-align: right;

}

.nav-link {
    float: right;
    list-style: none;
    margin: 0;
    padding: 20px;
}

.login {
    background-color: royalblue;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px 10px;
    border: rgb(59, 95, 202) solid 1px;


}
