body {
    margin-top: 225px;
    font-family: Arial, Helvetica, sans-serif;
}

.top-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.nav-link li {
    display: inline;
    padding: 0 10px;
    text-align: right;

}

.nav-link {
    float: right;
    list-style: none;
    margin: 0;
    padding: 20px;
}

.login {
    background-color: royalblue;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    padding: 10px 10px;
    border: rgb(59, 95, 202) solid 1px;


}


/*.container {
    display: block;
    margin: auto;
    border: royalblue solid 2px;
    text-align: center;
    

}*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 600px;
    height: 35px;
    border-radius: 30px;
    border: rgb(192, 192, 192) solid 1px;
    text-indent: 30px;
    font-family:  FontAwesome, sans-serif;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    width: 100%;
    border-top: #c6c6c6 solid 1px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0 10px;
}

.left {
    float: left;
    
    text-align: left;
}
.right {
    float: right;
    text-align: right;
    margin-right: 40px;
}

.btn {
    border: #c6c6c6 solid 0.25px;
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    border-radius: 20px;
    padding: 0 16px;
    margin: 30px 4px 10px 4px;
    height: 40px;
}

.lang {
    font-size: small;
}